@use "../../css/abstracts/" as *;
@use "sass:math";

.filter-cards {
  padding-block: $gutter-base;
  & .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
