@use "../../css/abstracts/" as *;
@use "sass:math";

.filter-cards {
  padding-block: $gutter-base;
  & .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  &__arrow {
    display: none;
    padding: rem-calc(5);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-70%);
    border-radius: 50%;
    z-index: 200;

    & img {
      width: rem-calc(20);
    }

    @include screenSize(tablet) {
      display: block;
    }
  }
}
