@use "../../css/abstracts/" as *;
@use "sass:math";

.about-page {
  &__section {
    display: flex;
    padding: $gutter-base;
    gap: $gutter-base;
    @include screenSize(tablet) {
      padding: $gutter-s;
    }

    &--first {
      @include screenSize(tablet) {
        flex-direction: column-reverse;
      }
    }

    &--second {
      flex-direction: row-reverse;
      background-color: $color-gray;
      border-radius: rem-calc(30);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      @include screenSize(tablet) {
        flex-direction: column-reverse;
      }
    }

    &--third {
      width: 50%;
      @include screenSize(tablet) {
        width: 90%;
      }
    }
  }

  &__text {
    font-size: 18px;
  }

  &__content {
    flex-basis: 50%;
  }

  &__image-wrapper {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }

  &__image {
    gap: 37.885px;
    flex-shrink: 0;
  }

  &__title {
    font-size: rem-calc(40);
    margin-bottom: 1rem;
  }

  &__text-group {
    padding-block: $gutter-base;
  }

  &__contact {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 10px;
  }
  &__contact-info {
    font-size: rem-calc(16);
  }
}
