@use "../abstracts" as *;
@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: Tahoma, sans-serif;
  text-wrap: pretty;
}

h1 {
  @include heading-1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  @include heading-2;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
}

h3 {
  @include heading-3;
  -webkit-font-smoothing: antialiased;
}

p {
  @include paragraph;
}

a {
  text-decoration: none;
  font-family: inherit;
}
