@use "../../css/abstracts/variables" as *;
@use "sass:math";

.best-deals__sort {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap-reverse;

  &__filter {
    z-index: 99;
  }

  &__related {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
