@use "../../css/abstracts/" as *;
@use "sass:math";

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  border-radius: 10px;
  margin: 10px;
  height: 100%;
  position: relative;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  outline: 2px solid transparent;
  will-change: transform;

  @include screenSize(laptop) {
    margin: 10px;
  }

  &__link {
    color: $color-black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 20%;
    // margin: 20px auto;
    position: relative;
    background-color: $color-white;
  }

  &__image {
    height: rem-calc(170);
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    @include screenSize(laptop) {
      height: rem-calc(130);
    }
  }

  &__name {
    // margin-top: 10px;
    font-size: rem-calc(16);
  }

  &__icon {
    position: absolute;
    width: 30px;
    cursor: pointer;
    &--bell {
      top: 10px;
      left: 10px;
    }

    &--heart {
      top: 10px;
      right: 10px;
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__sale {
    padding: 20px;
    background-color: $color-green;
    border-radius: 100%;
    color: $color-white;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    @include screenSize(tablet) {
      transform: translate(-30%, -30%) scale(1);
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    & button {
      padding: 0;
      margin: 0;
      border: 0;
      margin-right: 5px;
    }
  }

  &:hover {
    outline: 2px solid $color-yellow;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.2);
    & .product-card__image {
      transform: scale(1.1);
    }
    & .product-card__sale {
      transform: translate(-20%, -20%) scale(1);
    }
  }

  &--image-card {
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__price {
    font-size: rem-calc(16);
    font-weight: bold;
  }

  &__stores p {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: underline;
  }

  &--small {
    background-color: $color-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
    // border-bottom: 1px dotted $color-black;
    @include screenSize(laptop) {
      margin: 10px;
    }

    &__link {
      color: $color-black;
      background-color: $color-white;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      align-items: center;
      gap: 1rem;
    }

    &__container {
      flex: 1;
    }

    &__image-wrapper {
      overflow: hidden;
      background-color: $color-white;
    }

    &__image {
      width: rem-calc(70);
      height: rem-calc(70);
      object-fit: cover;
      @include screenSize(laptop) {
        height: rem-calc(50);
      }
    }

    &__name {
      font-size: rem-calc(15);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      margin-bottom: 5px;
    }

    &__price {
      font-size: rem-calc(14);
      font-weight: bold;
    }

    &__stores {
      font-size: 12px;
    }
  }
}

.small {
  color: $color-yellow;
  text-decoration: line-through;
  font-size: $font-size-small;
}

.slick-lis {
  width: 100%;
}
