@use "../../css/abstracts/" as *;
@use "sass:math";

.filter-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: $color-black;
  img {
    width: 50px;
    height: 50px;
    @include screenSize(tablet) {
      width: 40px;
      height: 40px;
    }
  }

  & p {
    font-family: "Open Sans";
    color: black;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    line-height: 1.5;
    @include screenSize(tablet) {
      font-size: 14px;
    }
  }
}
