@use "../../css/abstracts/" as *;
@use "sass:math";

.ad-container {
  background: #fff0d4;
  border-radius: 16px;
  margin-top: $gutter-base;

  &__banner {
    display: flex;
    flex-direction: row;
  }

  &__left {
    border-radius: 16px 0 0 16px;
    background-color: $color-yellow;
    color: $color-white;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: $color-white;
      font-weight: bold;
    }
  }

  &__right {
    padding: 12px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__shipping {
    color: $color-dark-gray;
  }

  &__price {
    color: $color-yellow;
  }
}

.blue-text {
  color: #0075ff;
}

.text-yellow {
  color: $color-yellow;
}
