@use "../../css/abstracts/" as *;
@use "sass:math";

.header {
  z-index: 9999;
  position: relative;
  border-bottom: 1px solid $color-yellow;
  background-color: $color-white;

  .input-wrapper {
    width: 100%;
    margin-right: 2rem;
  }

  &__wrapper {
    display: flex;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: rem-calc(5);
    z-index: 9999;
    @include screenSize(laptop) {
      width: 98%;
    }
  }
  &__logo {
    width: rem-calc(60);
  }
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  margin-left: rem-calc(40);
  @include screenSize(desktop-helper) {
    margin-left: 0;
  }
  @include screenSize(tablet) {
    display: none;
  }
  &-show {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out;
  }
  &__toggle {
    display: none;
    border: 0;
    width: rem-calc(50);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: none;

    position: relative;
    margin-right: rem-calc(10);
    z-index: 99999;
    @include screenSize(tablet) {
      display: block;
    }
    span {
      display: inline-block;
      position: absolute;
      width: rem-calc(35);
      height: 4px;
      background-color: $color-black;
      border-radius: rem-calc(50);
      transition: transform 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        top: rem-calc(-10);
        right: 0;
        width: rem-calc(50);
        height: 4px;
        border-radius: rem-calc(50);
        background-color: inherit;
        transition-property: top, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: rem-calc(25);
        height: 4px;
        border-radius: 50px;
        background-color: inherit;
        transition-property: top, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
    &-show {
      span {
        background-color: $color-white;
        height: 0;

        &::after {
          top: 0;
          transform: rotate(-45deg);
          transition-delay: 0s, 0.2s;
        }
        &::before {
          width: 50px;
          top: 0;
          transform: rotate(45deg);
          transition-delay: 0s, 0.2s;
        }
      }
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: auto;

    @include screenSize(tablet) {
      flex-direction: column;
      margin: 0;
      margin-top: rem-calc(100);
      margin-left: rem-calc(20);
    }
    &-item {
      position: relative;
      text-align: center;
      padding: rem-calc(10) rem-calc(20) rem-calc(5) rem-calc(20);
      display: flex;

      @include screenSize(desktop-helper) {
        padding: rem-calc(5) rem-calc(10);
      }

      @include screenSize(laptop) {
        padding: 0 rem-calc(5);
      }

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-black;
        scale: 0 1;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.665, 1);
        @include screenSize(tablet) {
          background-color: transparent;
        }
      }
      &:hover::after {
        scale: 1 1;
      }
      &:hover + &::after {
        translate: -100%;
      }
      &:has(+ :hover)::after {
        translate: 100%;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      text-align: center;
      color: $color-black;
      cursor: pointer;
      font-family: "Open Sans";
      font-size: rem-calc(18);
      font-style: normal;
      font-weight: 400;
      @include screenSize(desktop-helper) {
        font-size: rem-calc(16);
      }

      &__icon {
        transform: rotate(180deg);
        width: 16px;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__btn {
    background-color: transparent;
    margin-left: auto;
    font-size: rem-calc(18);
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #000;
    cursor: pointer;
    &:hover {
      background-color: $color-gray;
    }
    @include screenSize(desktop-helper) {
      font-size: rem-calc(16);
      padding: 10px 10px;
    }
  }
}

.nav-search-link {
  display: none;
  & img {
    width: 40px;
    height: 40px;
  }

  @include screenSize(tablet) {
    display: block;
  }
}

.serach-nav {
  width: auto;
  min-width: 30%;
  @include screenSize(laptop) {
    width: 25%;
  }
}
