@use "../../css/abstracts/" as *;
@use "sass:math";

.chart__btn {
  border-radius: 10px;
  border: 1px solid #929292;
  padding: rem-calc(15) rem-calc(35);

  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-gray;
    box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.2);
  }
}

.cart__actions {
  margin-top: rem-calc(20);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.chart {
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
    @include screenSize(tablet) {
      flex-direction: column;
      align-items: start;

      & .btn--black {
        align-self: flex-end;
      }
    }
  }
}
