@use "../../css/abstracts/" as *;

.profile-page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "actions items items items items";
  overflow: hidden;

  &__actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__wrapper {
      margin-left: 1rem;
    }
  }

  &__title {
    margin-block: 1rem;
    text-align: center;
    @include title-2;
  }

  &__img {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    @include screenSize(tablet) {
      width: 100px;
      height: 100px;
    }
  }
  & .button {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 14px;
    &:hover {
      background-color: $color-gray;
    }
    @include screenSize(tablet) {
      flex-direction: column;
      padding: 10px;
    }
  }
  &-btn {
    & img {
      width: 38px;
      height: 38px;

      @include screenSize(tablet) {
        scale: 0.8;
      }
    }
    &--notifications {
      & img {
        width: 38px;
        height: 38px;
        @include screenSize(tablet) {
          scale: 0.8;
        }
      }
    }

    &--log-settings {
      & img {
        width: 38px;
        height: 38px;
        @include screenSize(tablet) {
          scale: 0.8;
        }
      }
    }

    &--log-out {
      & img {
        width: 38px;
        height: 38px;
        scale: 2;
        margin-bottom: 1rem;
        @include screenSize(tablet) {
          scale: 1;
        }
      }
    }
  }
  &__items {
    grid-area: items;
    width: 100%;

    &__wrapper {
      background-color: $color-gray;
      border-top-left-radius: 15px;
      padding: 1rem;
      width: 100%;
      height: 100%;
      margin-top: 4rem;

      h1 {
        @include page-title;
      }

      h2 {
        font-family: "Open Sans";
        font-size: 32px;
      }

      & .headingAction button {
        display: none;
      }
    }
  }
}
