@use "../../css/abstracts/" as *;
@use "sass:math";
.aside-container {
  @include screenSize(tablet) {
    display: none;
  }

  display: flex;
  flex-direction: column;

  .aside-part {
    margin-bottom: ($gutter-base * 2);
    margin-inline: rem-calc(10);

    img:not(:last-child) {
      margin-bottom: $gutter-base;
    }
  }
}
