@use "../../css/abstracts/" as *;
@use "sass:math";

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem 0;
  border-radius: rem-calc(30);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: $gutter-l;
  padding-left: ($gutter-base * 3);
  @include screenSize(tablet) {
    padding-left: $gutter-base;
  }

  .banner__content {
    max-width: 50%;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    @include screenSize(laptop) {
      max-width: 60%;
      margin-left: 5%;
    }
    @include screenSize(tablet) {
      max-width: 90%;
      margin-left: 5%;
    }

    & h2 {
      color: $color-white;
    }

    & p {
      color: $color-white;
      margin: 1rem 0;
      @include sub-title;
    }
  }
}
