@use "../../css/abstracts/" as *;
@use "sass:math";

.banner {
  background-size: cover;
  background-position: center;
  margin: 2rem 1rem;
  min-height: 70svh;
  border-radius: rem-calc(30);
  display: flex;
  align-items: center;
  padding-block: 2rem;

  .banner__content {
    max-width: 50%;
    margin-left: 10%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    @include screenSize(laptop) {
      max-width: 60%;
      margin-left: 5%;
    }
    @include screenSize(tablet) {
      max-width: 90%;
      margin-left: 5%;
    }

    & h2 {
      color: $color-white;
    }

    & p {
      color: $color-white;
      margin: 1rem 0;
      @include sub-title;
    }
  }
}
